@model BibliotekaPPP.Models.BusinessObjects.GradjaBO
@{
	// Formiranje putanje ka slici naslovne strane gradje
	string putanjaNaslovne = ViewData["PutanjaNaslovnihStrana"]?.ToString() + "/" + Model.NaslovnaStranaPath;

	// Formiranje liste imena i prezimena autora koji ce se prikazati
	List<string> autori = new List<string>();
	foreach(AutorBO autorBO in Model.Autori)
	{
		autori.Add(autorBO.ImePrezime);
	}

	// Formiranje stringa izdavanja
	string izdavanje = $"{Model.Izdavanje?.NaseljeIzdavanja}, {Model.Izdavanje?.NazivIzdavaca}, {Model.Izdavanje?.GodinaIzdavanja}";

	// Formiranje klase i teksta za span koji prikazuje da li ima slobodnih primeraka
	string bojaStatusa = (Model.ImaSlobodnihPrimeraka) ? "text-success" : "text-danger";
	string tekstStatusa = (Model.ImaSlobodnihPrimeraka) ? "Da" : "Ne";
}

<div class="card mb-3">
	<div class="card-body">
		<div class="row">
			<div class="col-2 naslovna-strana-gradje">
				<img src="@putanjaNaslovne" />
			</div>
			<div class="col-10 d-flex flex-column justify-content-between">
				<div id="glavni-detalji">
					<h3>
						<a asp-controller="Gradja" asp-action="Prikaz" asp-route-gradjaID="@Model.GradjaId" target="_blank" class="text-dark">
							@Model.Naslov
						</a>
					</h3>
					<h5>@string.Join(", ", autori)</h5>
				</div>
				<div id="sporedni-detalji">
					<p class="gradja-izdavanje">@izdavanje</p>
					<hr />
					<p>
						Ima slobodnih primeraka:
						<span class="@bojaStatusa fw-bold">@tekstStatusa</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>